@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1270px) {
  .welcome-header {
    z-index: 1;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px;
    width: 100%;
  }
  .welcome-header_logo {
    width: 48px;
    height: 43px;
  }
  .welcome-header_burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24px;
    height: 16px;
  }
  .welcome-header_burger span,
  .welcome-header_burger span::after,
  .welcome-header_burger span::before {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background: #fff;
  }
  .welcome-header_burger span {
    position: relative;
  }
  .welcome-header_burger span::after {
    top: 6px;
  }
  .welcome-header_burger span::before {
    top: -6px;
  }
  .welcome-header_burger-active span {
    -webkit-transform: translateY(86vh);
            transform: translateY(86vh);
    background-color: rgba(0, 0, 0, 0);
  }
  .welcome-header_burger-active span::after {
    top: 0;
    left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .welcome-header_burger-active span::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .welcome-header-black {
    background: #111111;
  }
  .menu {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(17, 17, 17, 0.8);
  }
  .menu li {
    list-style: none;
    text-align: center;
    margin: 10px 0;
  }
  .menu li a {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }
  .menu li a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .menu li a:hover::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
  }
  .menu-hidden {
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
  }
  .welcome {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("../../img/background.jpg");
    background-size: cover;
    background-position: center;
  }
  .welcome_title {
    font-family: Amatic SC;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 96px;
    line-height: 121px;
    color: rgba(255, 255, 255, 0.8);
  }
  .welcome_subtitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
  .sightseens {
    padding-top: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sightseens_container {
    padding: 0 29px;
  }
  .sightseens-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 55px;
  }
  .sightseens-item_img {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  .sightseens-tours-item_title {
    margin-top: 25px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #585858;
  }
  .sightseens-item_text {
    margin-top: 28px;
    font-size: 14px;
    line-height: 16px;
  }
  .section-header_title {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
  }
  .tours {
    padding-top: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tours_container {
    padding: 0 29px;
  }
}
/*# sourceMappingURL=style.css.map */